footer {
/*    position: absolute;*/
    text-align: center;
    width: 100%;
    height: 1.5rem;
/*    bottom: 0px;*/
}

.jumbotron img {
    width: 100%;
    height: 50%;
}

.table {
    width: 50%;
}

.return {
    padding: 10px;
}

.radio {
    margin-left: 20px;
}

#foodImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
